---
import LayoutForms from "../layouts/LayoutForms.astro";
import RegistroForm from "../components/react/RegistroForm";
---

<LayoutForms>
  <div class="flex justify-center items-center min-h-screen">
    <RegistroForm client:load/>
  </div>
</LayoutForms>
